.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:transparent;
    color: white;
  }
  
  .header-left img {
    max-height: 50px;
  }
  
  .header-center .search-bar {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .header-right a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
  }

  a:hover{
    color: aqua;
  }
  
  /* Example FontAwesome icon styles */
  .notification-icon .fa-bell {
    font-size: 24px;
  }
  
  .explore-icon .fa-search {
    font-size: 24px;
  }
  

  .explore-icon .ellipse-border {
    width: 100px; 
    height: 40px; 
    border: 2px solid black; 
    border-radius: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .explore-icon .circle-inside {
    width: 30px; 
    height: 30px;
    background-color: transparent;
    border-radius: 50%; 
    margin-left: 15px;
    border: 1px solid white;

  }
  
  .explore-icon .ellipsis-icon {
    color: black; /* Icon color */
    margin: 5px; 
    font-size: 18px;
  }

  #paintCircle{
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: orange;
  }
  
